<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<body>
<h1>Admin Dashboard</h1>
<h2>Add User</h2>

<!-- form to add a new user -->
<form action="../api/admin/users" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <label for="role">Role:</label>
    <select id="role" name="role">
        <option value="student">Student</option>
        <option value="instructor">Instructor</option>
        <option value="admin">Admin</option>
    </select>
    <button type="submit">Add User</button>
</form>
<h2>Delete User</h2>

<!-- form to delete a user -->
<form id="deleteUser">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId">
    <button type="button" onclick="deleteData()">Delete User</button>
</form>
<script>
    function deleteData() {
        const idToDelete = document.getElementById("userId").value;

        if (!idToDelete) {
            alert("Please enter an ID to delete.");
            return;
        }

        // Make the DELETE request
        fetch(`/api/admin/delete/user/${idToDelete}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle success response
                console.log('Delete successful', data);
                alert('Delete successful');
            })
            .catch(error => {
                // Handle error
                console.error('There was a problem with the delete request:');
                alert( error);
            });
    }
</script>
</body>
</html>
