<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Manage Grades</title>
</head>
<body>
<h1> Instructor Dashboard</h1>
<h2>Add Grade</h2>

<!-- Form to add a new grade -->
<form action="../api/instructors/grades" method="post">
    <label for="studentId">Student ID:</label>
    <input type="text" id="studentId" name="studentId">
    <label for="courseId">Course ID:</label>
    <input type="text" id="courseId" name="courseId">
    <label for="grade">Grade:</label>
    <input type="text" id="grade" name="grade">
    <button type="submit">Add Grade</button>
</form>

<script>
    let h2Count = 1;
    function numberH2() {
        const h2Elements = document.querySelectorAll('h2');
        h2Elements.forEach((element) => {
            element.textContent = h2Count + '. ' + element.textContent;
            h2Count++;
        });
    }
    window.onload = numberH2;
</script>

<h2>Update Grade</h2>

<!-- Form to update a grade -->
<form action="../api/instructors/grades/{gradeId}" method="post">
    <label for="updatedStudentId">Updated Student ID:</label>
    <input type="text" id="updatedStudentId" name="studentId">
    <label for="updatedCourseId">Updated Course ID:</label>
    <input type="text" id="updatedCourseId" name="courseId">
    <label for="updatedGrade">Updated Grade:</label>
    <input type="text" id="updatedGrade" name="grade">
    <button type="submit">Update Grade</button>
</form>

<h2>Delete Grade</h2>

<!-- Form to delete a grade -->
<form id="deleteGradeForm">
    <label for="gradeIdToDelete">Grade ID:</label>
    <input type="text" id="gradeIdToDelete" name="gradeId">
    <button type="button" onclick="deleteGrade()">Delete Grade</button>
</form>

<script>
    function deleteGrade() {
        const gradeIdToDelete = document.getElementById("gradeIdToDelete").value;

        if (!gradeIdToDelete) {
            alert("Enter a Grade ID to delete.");
            return;
        }
        fetch(`/api/instructors/grades/${gradeIdToDelete}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Delete successful', data);
                alert('Delete successful');
            })
            .catch(error => {
                console.error('Error deleting grade:', error);
                alert('Error deleting grade');
            });
    }
</script>

<h2>Get grades by Student Id</h2>
<form action="/api/instructors/grades" method="get">
    <label for="gradeByStudentId">Student ID:</label>
    <input type="text" id="gradeByStudentId" name="studentId">
    <button type="submit">Get Grades</button>
</form>

<h2>Get grade by Grade Id</h2>
<form id="getGradeByIdForm" action="/api/instructors/grade" method="get">
    <label for="gradeId">Grade ID:</label>
    <input type="text" id="gradeId" name="gradeId">
    <button type="submit">Get Grade</button>
</form>

<h2>Class Statistics</h2>
<form action="/api/instructors/statistics" method="get">
    <input type="submit" value="View Class Statistics">
</form>

</body>
</html>
