<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
<h1>Statistics</h1>
<div>
    <h2>Class Average: ${classAverage}</h2>
    <h2>Class Median: ${classMedian}</h2>
    <h2>Highest Grade:</h2>
    <p>Student ID: ${highestGrade.studentId}</p>
    <p>Course ID: ${highestGrade.courseId}</p>
    <p>Grade: ${highestGrade.grade}</p>
    <h2>Lowest Grade:</h2>
    <p>Student ID: ${lowestGrade.studentId}</p>
    <p>Course ID: ${lowestGrade.courseId}</p>
    <p>Grade: ${lowestGrade.grade}</p>
</div>
</body>
</html>
