<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
<h1>Student Details</h1>

<div>
    <h2>Name:</h2>
    <p th:text="${student.getStudentId()}"></p>
</div>
<div>
    <h2>Name:</h2>
    <p th:text="${student.name}"></p>
</div>

<div>
    <h2>Username:</h2>
    <p th:text="${student.username}"></p>
</div>

<div>
    <h2>Password:</h2>
    <p th:text="${student.password}"></p>
</div>

<div>
    <a href="/api/students">Back to Dashboard</a>
</div>
</body>
</html>
