<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Marks</title>
</head>
<body>
<h1>Student Marks</h1>
<table>
    <thead>
    <tr>
        <th>Course Name</th>
        <th>Marks</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="grade : ${grades}">
        <td th:text="${grade.courseId}"></td>
        <td th:text="${grade.grade}"></td>
    </tr>
    </tbody>
</table>
<h2>Grades Statistics</h2>
<p>Class Average: <span th:text="${classAverage}"></span></p>
<p>Median: <span th:text="${classMedian}"></span></p>
<p>Highest Mark: <span th:text="${highestGrade.grade}"></span></p>
<p>Lowest Mark: <span th:text="${lowestGrade.grade}"></span></p>
</body>
</html>
